.jumbotron {
	background-image: url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	font-weight: bold;
	color: white;
	font-family: Helvetica;
}

body{
	background-image: url("https://images.pexels.com/photos/333304/pexels-photo-333304.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	 letter-spacing:  2px;

}

.navbar{
	background-image:url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.table{
	background-color: coral;
}

.footer{
		background-image:url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

}

.login{
	color: white;
}


/*buttons*/

a{

position: relative;
display:inline-block;
padding: 15px 30px;
color: #03e9f4 !important;
text-transform: uppercase;
letter-spacing:  4px;
text-decoration: none;
font-size: 24px;
overflow: hidden;
transition: 0.5s;	
}

a:hover
{
	
	background:white;
	box-shadow: 0 0 10px #2196f3, 0 0 10px black, 0 0 10px #2196f3;
	transition-delay: 0.3s;
}

#register{
	font-weight:bold;
	color: white !important;
	background-color: grey;

}

#login{
position: relative;
display:inline-block;
color: white;
background: #03e9f4 !important;
text-transform: uppercase;

text-decoration: none;

overflow: hidden;
transition: 0.5s;	
}

#login:hover{
	background-color: #03e9f4 !important;
	box-shadow: shadow;
}


	

#register:hover{
	background-color: #03e9f4 !important;
	box-shadow: shadow;
	text-decoration: underline;
	
}



#addCoursebtn{
	width: 200px;
	font-weight: bold;
	background-color: #03a4f4;

}

#addCoursebtn:hover{
	background: white  ;
    
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.3s;
}


.dangerButton{
text-transform: uppercase !important;
color: black !important;
background-color: transparent!important;
}

.dangerButton:hover{
box-shadow: 0 0 10px #eb0450, 0 0 40px #eb0450, 0 0 40px #eb0450;
background-color: #eb0450 !important;
	transition-delay: 0.3s;

}

.warningButton{
text-transform: uppercase !important;
color: black !important;
background-color: #eb0450!important;
}

.warningButton:hover{
text-transform: uppercase !important;
color: black !important;
background-color: transparent!important;
}

#coursesContainer {
	background-color: grey;
	
}

.card-body{
	background-image: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=300");
    color: white !important;
    	box-shadow: 0 0 20px white, 0 0 10px #2196f3, 0 0 20px #2196f3;
    opacity: 0.7;

}

.card-footer{
	box-shadow: 0 0 20px black, 0 0 10px black, 0 0 20px black;
}

/*modal*/

.bg-modal{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	opacity:0.7;
	position:absolute;
	display:flex;
	justify-content:center;
	align-items: center;
    display: none;
	
	top:0;
	left:0;
	opacity:1;
}

.modal-content{

	width:300px;
	height:300px;
	background-color: white;
	border-radius:4px;
   position: fixed;
   align-content: right;
   z-index: 10;
   text-align: center;

}

.closeButton{
	position:relative;
	top:0;
	left:250px;

	display:flex;

}



/*#popup{
	position:fixed;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width:500px;
	max-width: 80%;

}

#popup.active{
	transform: translate(-50%, -50%) scale(1);
}

.buttonHeader{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	color: black;
}

.buttonBody{
	color:black;
}

.buttonHeader .closeButton{
	cursor:pointer;
	border: none;
	outline: none;
	background:none;
	font-size: 1.25rem;
	font-weight: bold
}

.buttonBody{
	padding: 10px 15px;

}

#overlay{
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	pointer-events:none;

}

#overlay.active{
	pointer-events: all;
	opacity: 1;
}
*/